doctype html
html
  head
    meta(charset='utf-8')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js')
    title Египетские пирамиды
    meta(name='keywords', content='')
    meta(name='description', content='')
    link(href='style.css', rel='stylesheet')
    style(type='text/css').
      A:link { color: red; text-decoration: none; }
      A:visited { color: red; text-decoration: none;}
      A:hover { color: blue; text-decoration: underline;}
  body
    .wrapper
      header
      nav.navigation
        li
          a(href='') Главная  |
        li
          a(href='') Египет сегодня  |
        li
          a(href='') Мифы и легенды Древнего Египта  |
        li
          a(href='') Боги  |
        li
          a(href='') О Нас
      .middle
        .container
          main.content
            h1(align='center') Египетские пирамиды
            .image
              img(src='images/p1.jpg', alt='pyramids')
            p(align='justify')
              | Египетские пирамиды — древние каменные сооружения пирамидальной формы, расположенные в Египте.
            p(align='justify')
              | Количество объектов, идентифицируемых как египетские пирамиды, варьируется от 118 до 138 (по данным ноября 2008 года). Большая часть пирамид была построена в качестве усыпальниц для фараонов Древнего и Среднего царств. Древнейшие из известных пирамид находятся в Саккаре. Самой древней считается пирамида Джосера, построенная архитектором Имхотепом в период с 2667 по 2648 гг. до н. э.
            p(align='justify')
              | Самые известные пирамиды находятся на окраине Каира в Гизе, три из которых до сих пор являются одними из крупнейших сооружений, когда-либо построенных человеком. Пирамида Хеопса является самой большой пирамидой в Египте и входит в число Семи чудес света.
            h3(align='center') Самые большие пирамиды Египта
            ul
              li Пирамида Хеопса (IV династия): размер основания — 230 м (высота — 146,6 м);
              li Пирамида Хефрена (IV династия): 215 м (144 м);
              li Розовая пирамида, Снофру (IV династия): 219 м (105 м);
              li Ломаная пирамида, Снофру (IV династия): 189 м (105 м);
              li Пирамида в Мейдуме, Снофру (IV династия): 144 м (94 м);
              li Пирамида Микерина (IV династия): 104,6 × 108,5 м (66 м);
              li Пирамида Джосера (III династия): 121 × 109 м (62 м).
            .image
              img(src='images/p2.jpg', alt='pyramids')
          // .content
        // .container
        aside.right-sidebar
          h3(align='center')
            u Смотрите также:
          p(align='center')
            a(href='') Предшественники пирамид
          p(align='center')
            a(href='index.html') Пирамиды фараонов III династии
          p(align='center')
            a(href='index.html') Пирамиды фараонов IV династии
          p(align='center')
            a(href='index.html') Пирамиды в Гизе
          p(align='center')
            a(href='index.html') Поздние пирамиды
        // .right-sidebar
      // .middle
      footer.footer
        p(align='center') Copyright © 2018. All Rights Reserved
      // .footer
    // .wrapper